<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% from 'bootstrap/nav.html' import render_nav_item %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('hello_world', 'Home') }}
        {{ render_nav_item('about', 'About') }}
        <a href={{ url_for('logout') }} class="btn btn-danger btn-block" role="button">Logout</a>
    </div>
</nav>
    {% block content %}{% endblock %}
    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>